<sidenav [orientation]="orientation" [ngClass]="getClasses()">
  <div class="sidenav-inner" [ngClass]="{ 'py-1': orientation !== 'horizontal' }">
    <!-- <img src="../../../assets/img/logo.png" id="sidebar_logo" alt=""> -->
    <h4 style="margin: 20px auto; color: white;">Survey App</h4>
    <sidenav-router-link icon="ion ion-md-home" route="/dashboard" [active]="isActive('/dashboard')">Dashboard
    </sidenav-router-link>

    <sidenav-menu icon="ion ion-md-menu" text="Products" [active]="isMenuActive('/products')"
      [open]="isMenuOpen('/products')">
      <sidenav-router-link route="/products" [active]="isActive('/products')">All products
      </sidenav-router-link>
    </sidenav-menu>

    <sidenav-menu icon="ion ion-md-menu" text="hot-topics" [active]="isMenuActive('/hot-topics')"
      [open]="isMenuOpen('/hot-topics')">
      <sidenav-router-link route="/hot-topics" [active]="isActive('/hot-topics')">All Hot Topics
      </sidenav-router-link>
    </sidenav-menu>

    <sidenav-menu icon="ion ion-md-menu" text="category" [active]="isMenuActive('/category')"
      [open]="isMenuOpen('/category')">
      <sidenav-router-link route="/category" [active]="isActive('/category')">All categories
      </sidenav-router-link>
    </sidenav-menu>

    <sidenav-menu icon="ion ion-md-menu" text="slider" [active]="isMenuActive('/slider')"
      [open]="isMenuOpen('/slider')">
      <sidenav-router-link route="/slider" [active]="isActive('/slider')">All Slider
      </sidenav-router-link>
    </sidenav-menu>

    <sidenav-router-link icon="ion ion-md-menu" route="/product-votes" [active]="isActive('/product-votes')">Product
      Votes
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-md-menu" route="/survey" [active]="isActive('/survey')">Survey
    </sidenav-router-link>

    <sidenav-router-link icon="ion ion-md-menu" route="/contact-us" [active]="isActive('/contact-us')">Contact Us
    </sidenav-router-link>




  </div>
</sidenav>
